body {
  margin: 0;
  padding: 0;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-6);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-8);
}

/* 隐藏水平滚动条 */
::-webkit-scrollbar-corner {
  display: none;
}

.recursive-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
}